@import "compass/css3";
@import "mixins";
.gridlock {
	.row {
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		&::after {
			clear: both;
			content: '';
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}

		.gridlock .row [class*="desktop-push-"], .gridlock .row [class*="tablet-push-"] { 
			margin-left: 1.0416666666666667%; 
			margin-right: 1.0416666666666667%; 
		}

		.mobile-1 { width: 31.25%; }
		.mobile-2 { width: 64.5833333333333333%; }
		.mobile-3 { width: 97.9166666666666667%; }

		.mobile-push-1 { margin-left: 34.375%; }
		.mobile-push-2 { margin-left: 67.7083333333334%; }

		.mobile-third { width: 31.25%; }
		.mobile-half { width: 47.9166666666666667%; }
		.mobile-full { width: 97.9166666666666667%; }
		
		.mobile-push-third { margin-left: 34.375%; }
		.mobile-push-half { margin-left: 51.0416666666666667%; }

		@include MQ(SM) {
			width: 720px;
			[class*="desktop-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }
			.tablet-1 { width: 14.5833333333333333%; }
			.tablet-2 { width: 31.25%; }
			.tablet-3 { width: 47.9166666666666667%; }
			.tablet-4 { width: 64.5833333333333333%; }
			.tablet-5 { width: 81.25%; }
			.tablet-6 { width: 97.9166666666666667%; }

			.tablet-push-1 { margin-left: 17.7083333333333333%; }
			.tablet-push-2 { margin-left: 34.375%; }
			.tablet-push-3 { margin-left: 51.0416666666666667%; }
			.tablet-push-4 { margin-left: 67.7083333333334%; }
			.tablet-push-5 { margin-left: 84.375%; }
			.tablet-third { width: 31.25%; }

			.tablet-half { width: 47.9166666666666667%; }
			.tablet-full { width: 97.9166666666666667%; }
			.tablet-push-third { margin-left: 34.375%; }
			.tablet-push-half { margin-left: 51.0416666666666667%; }
		}

		@include MQ(MD) {
			width: 960px;

			.desktop-1 	{ width: 6.25%; }
			.desktop-2 	{ width: 14.5833333333333333%; }
			.desktop-3 	{ width: 22.9166666666666667%; }
			.desktop-4 	{ width: 31.25%; }
			.desktop-5 	{ width: 39.5833333333333333%; }
			.desktop-6 	{ width: 47.9166666666666667%; }
			.desktop-7 	{ width: 56.25%; }
			.desktop-8 	{ width: 64.5833333333333333%; }
			.desktop-9 	{ width: 72.9166666666666667%; }
			.desktop-10 { width: 81.25%; }
			.desktop-11 { width: 89.5833333333333333%; }
			.desktop-12 { width: 97.9166666666666667%; }

			.desktop-push-1  { margin-left: 9.375%; }
			.desktop-push-2  { margin-left: 17.7083333333333333%; }
			.desktop-push-3  { margin-left: 26.0416666666666667%; }
			.desktop-push-4  { margin-left: 34.375%; }
			.desktop-push-5  { margin-left: 42.7083333333333334%; }
			.desktop-push-6  { margin-left: 51.0416666666666667%; }
			.desktop-push-7  { margin-left: 59.375%; }
			.desktop-push-8  { margin-left: 67.7083333333334%; }
			.desktop-push-9  { margin-left: 76.0416666666668%; }
			.desktop-push-10 { margin-left: 84.375%; }
			.desktop-push-11 { margin-left: 92.7083333333335%; }

			.desktop-third { width: 31.25%; }
			.desktop-half { width: 47.9166666666666667%; }
			.desktop-full { width: 97.9166666666666667%; }
			.desktop-push-third { margin-left: 34.375%; }
			.desktop-push-half { margin-left: 51.0416666666666667%; }

			[class*="desktop-"] {
				float: left; 
				margin-left: 1.0416666666666667%; 
				margin-right: 1.0416666666666667%;

				&.right { 
					float: left; 
				}
				&.center { 
					margin-left: auto; 
					margin-right: auto; 
				}	
				&.padded { 
					margin-left: 0; 
					margin-right: 0; 
					padding-left: 1.0416666666666667%;
					padding-right: 1.0416666666666667%;
					@include box-sizing(content-box);
				}
			}
		}

		@include MQ(LG) {
			width: 1200px;
		}

	}
}