<videogular vg-player-ready="video.onPlayerReady($API)" ng-mouseover="video.play()">
<vg-media vg-src="video.sources" vg-preload="video.preload"></vg-media>
<vg-poster vg-url='video.poster'>sdfdsf</vg-poster>
</videogular>
<div class="product-info bs-clearfix">
	<a ng-href="{[{video.productLinkUrl}]}" target="{[{video.productLinkTarget}]}">
		<span class="product-title" title="{[{video.productTitle}]}">{[{video.productName}]}</span>
	</a>
</div>
<div class="product-action bs-clearfix">
	<span class="socials">
		<span>
			<span ng-bind="video.likeCounter"></span>
			<span class="fa fa-thumbs-up"></span>
		</span>
		<span>
			<span ng-bind="video.commentCounter"></span>
			<span class="fa fa-comments"></span>
		</span>
	</span>
	<a href="{[{video.productLinkUrl}]}" class="product-price" target="{[{video.productLinkTarget}]}">
		<span class="fa fa-usd"></span>
		<span>{[{video.price}]}</span>
	</a>
</div>
