<div class="desktop-4 desktop-push-4 tablet-4 tablet-push-1 mobile-full login-container">
	<div id="logo" class="bs-clearfix">
		<a href="/#/">
			<img src="{{ 'logo.png' | asset_url }}" alt="Showroom Store" style="border: 0;"/>
			<span class="shop-name">Showroom</span>
		</a>
	</div>
	<div class="login-form">
		<h1>Sign Up</h1>
		<form id="loginForm" novalidate="true">
			<div>
				<input type="text" placeholder="First name">
			</div>
			<div>
				<input type="text" placeholder="Last name">
			</div>
			<div>
				<input type="email" placeholder="Email" ng-model="email">
			</div>
			<div>
				<input type="password" placeholder="password" ng-model="password">
			</div>
			<div>
				<button type="submit" id="loginBtn">Submit</button>
			</div>
		</form>
		<div class="helper-links">
			<span>Already a member?</span>
			<a href="/#/login" class="signup">Login here</a>
		</div>
	</div>
</div>
