
<div class="desktop-4 desktop-push-4 tablet-4 tablet-push-1 mobile-full login-container">
	<h1>FORGOT PASSWORD?</h1>
	<div class="reset_instruction">
		<p>Having a hard time remembering your Rue La La password?</p>
		<p>No worries. We'll email you a link to reset it.</p>
	</div>
	<form>
		<div>
			<label>ENTER YOUR EMAIL</label>
			<input type="email" name="email" required>
		</div>
		<div>
			<input type="submit" value="Send">
		</div>
	</form>
</div>
