<div class="desktop-4 desktop-push-4 tablet-4 tablet-push-1 mobile-full login-container">
	<div id="logo" class="bs-clearfix">
		<a href="/#/">
			<img src="{{ 'logo.png' | asset_url }}" alt="Showroom Store" style="border: 0;"/>
			<span class="shop-name">Showroom</span>
		</a>
	</div>
	<div class="login-form">
		<h1>Sign In</h1>
		<form id="loginForm" novalidate="true">
			<div>
				<input type="email" placeholder="Email" ng-model="email">
			</div>
			<div>
				<input type="password" placeholder="password" ng-model="password">
			</div>
			<div>
				<button type="submit" id="loginBtn" ng-click="loginEmail()">Sign in</button>
			</div>
		</form>
		<div class="helper-links">
			<a href="" class="forgot-password">Forgot password?</a>
			<a href="/#/signup" class="signup">Join us Now!</a>
		</div>
	</div>
	<h2 class="connect-line"><span>Or</span></h2>
	<div class="social-buttons">
		<button id="facebookBtn" ng-click="connectFacebook()">
			<i class="fa fa-facebook-square fa-lg"></i>
			Connect with Facebook
		</button>
	</div>
</div>
