<div class="desktop-4 desktop-push-4 tablet-4 tablet-push-1 mobile-full login-container">
	<div id="logo" class="bs-clearfix">
		<a href="/#/">
			<img src="{{ 'logo.png' | asset_url }}" alt="Showroom Store" style="border: 0;"/>
			<span class="shop-name">Showroom</span>
		</a>
	</div>
	<div class="login-form">
		<h1>Sign Up</h1>

		<form id="signupForm" name="signupForm" novalidate ng-submit="signup()">
			<div>
				<span class="error-messages" ng-bind="message"></span>
			</div>
			<div>
				<input type="text" name="firstName" placeholder="First name" ng-model="firstName" required>
				<span class="error-messages" ng-show="signupForm.firstName.$invalid && showMessages">
					<span ng-show="signupForm.firstName.$error.required">First name is required</span>
				</span>
			</div>
			<div>
				<input type="text" name="lastName" placeholder="Last name" ng-model="lastName" required>
				<span class="error-messages" ng-show="signupForm.lastName.$invalid && showMessages">
					<span ng-show="signupForm.lastName.$error.required">Last name is required</span>
				</span>
			</div>
			<div>
				<input type="email" name="email" placeholder="Email" ng-model="email" required>
				<span class="error-messages" ng-show="signupForm.email.$invalid && showMessages">
					<span ng-show="signupForm.email.$error.required">Email is required</span>
					<span ng-show="signupForm.email.$error.email">Invalid Email</span>
				</span>
			</div>
			<div>
				<input type="password" name="password" placeholder="password" ng-model="password" required>
				<span class="error-messages" ng-show="signupForm.password.$invalid && showMessages">
					<span ng-show="signupForm.password.$error.required">Email is required</span>
				</span>
			</div>
			<div>
				<button type="submit" id="loginBtn">Submit</button>
			</div>
		</form>
		<div class="helper-links">
			<span>Already a member?</span>
			<a href="/#/login" class="signup" style="text-align: left">Login here</a>
		</div>
	</div>
</div>
