{% layout 'theme.iframe' %}
<div class="iframeHeader">
	<div class="header-wrapper">
		<a href="/"><i class="fa fa-arrow-left fa-fw"></i>Back to Showroom Store</a>
	</div>
</div>

<div class="iframeContainer" ng-app="myApp" ng-controller="myController">
	<iframe seamless="seamless" src="{[{iframeSrc}]}">

	</iframe>
</div>

 <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
 <script type="text/javascript">
 	var app = angular.module('myApp',[]);
 	app.config(function ($interpolateProvider) {
	  $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
	});

	app.config(function ($sceProvider) {
	  $sceProvider.enabled(false);
	});

	app.config(function($locationProvider){
	   $locationProvider.html5Mode({
		  enabled: true,
		  requireBase: false
		});
	});

 	app.controller('myController', function($scope, $location, $sce) {
 		var params = $location.search();
 		$scope.iframeSrc = $sce.trustAsResourceUrl(params.url);
 	});
</script>
