{% layout 'app' %}

<header id="header" ng-include="'{{ 'inc_main_header' | asset_url }}'"></header>
<main id="main">
	
</main>
<footer id="footer" ng-include="'{{ 'inc_main_footer' | asset_url }}'"></footer>